Dataset: https://github.com/fivethirtyeight/data/tree/master/college-majors

In [1]:
import pandas as pd
all_ages = pd.read_csv("all-ages.csv")
recent_grads = pd.read_csv("recent-grads.csv")

all_ages.head(5)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000

Determining number of students enrolled in the various categories of majors.

In [2]:
# All values for Major_category
cols = all_ages['Major_category'].value_counts().index
#cols = all_ages['Major_category'].value_counts()
cols

Index([u'Engineering', u'Education', u'Humanities & Liberal Arts',
       u'Biology & Life Science', u'Business', u'Health',
       u'Computers & Mathematics', u'Physical Sciences',
       u'Agriculture & Natural Resources', u'Psychology & Social Work',
       u'Social Science', u'Arts', u'Industrial Arts & Consumer Services',
       u'Law & Public Policy', u'Communications & Journalism',
       u'Interdisciplinary'],
      dtype='object')

In [5]:
all_ages_major_categories = dict()
recent_grads_major_categories = dict()

def determine_category_total(datasets):
    unique_major_category = datasets['Major_category'].value_counts().index
    major_students_dictionary = dict()

    for each in unique_major_category:
        
        set_per_category = datasets[datasets["Major_category"] == each]
        total = set_per_category["Total"].sum(axis=0)
        major_students_dictionary[each] = total
    return major_students_dictionary

all_ages_major_categories = determine_category_total(all_ages)
recent_grads_major_categories = determine_category_total(recent_grads)
print all_ages_major_categories
print recent_grads_major_categories

{'Arts': 1805865L, 'Psychology & Social Work': 1987278L, 'Business': 9858741L, 'Industrial Arts & Consumer Services': 1033798L, 'Computers & Mathematics': 1781378L, 'Agriculture & Natural Resources': 632437L, 'Interdisciplinary': 45199L, 'Humanities & Liberal Arts': 3738335L, 'Engineering': 3576013L, 'Biology & Life Science': 1338186L, 'Health': 2950859L, 'Law & Public Policy': 902926L, 'Physical Sciences': 1025318L, 'Education': 4700118L, 'Communications & Journalism': 1803822L, 'Social Science': 2654125L}
{'Arts': 357130L, 'Psychology & Social Work': 481007L, 'Business': 1302376L, 'Industrial Arts & Consumer Services': 229792L, 'Computers & Mathematics': 299008L, 'Agriculture & Natural Resources': 79981L, 'Interdisciplinary': 12296L, 'Humanities & Liberal Arts': 713468L, 'Engineering': 537583L, 'Biology & Life Science': 453862L, 'Health': 463230L, 'Law & Public Policy': 179107L, 'Physical Sciences': 185479L, 'Education': 559129L, 'Communications & Journalism': 392601L, 'Social Science': 529966L}

Calculating the proportion of recent college graduates that worked low wage.

In [6]:
#Relevant dataset- need to deal with Total and Low_wage_jobs.
recent_grads.head(5)

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [7]:
recent_grads["Major_category"].value_counts()

Engineering                            29
Education                              16
Humanities & Liberal Arts              15
Biology & Life Science                 14
Business                               13
Health                                 12
Computers & Mathematics                11
Physical Sciences                      10
Agriculture & Natural Resources        10
Psychology & Social Work                9
Social Science                          9
Arts                                    8
Industrial Arts & Consumer Services     7
Law & Public Policy                     5
Communications & Journalism             4
Interdisciplinary                       1
dtype: int64

In [13]:
low_wage_percent = 0.0
low_wage_percent = (recent_grads['Low_wage_jobs'].sum(axis=0))/(recent_grads['Total'].sum(axis=0))
low_wage_percent

0L

Determining how similar or different the statistics of recent college graduates are from those of the entire population.
(Calculate the number of majors where recent grads did better than the overall population.)

In [14]:
# All majors, common to both DataFrames
majors = recent_grads['Major'].value_counts().index

recent_grads_lower_unemp_count = 0
all_ages_lower_unemp_count = 0
for m in majors:
    recent_grads_row =  recent_grads[recent_grads['Major'] == m]
    all_ages_row = all_ages[all_ages['Major'] == m]
    
    recent_grads_unemp_rate = recent_grads_row['Unemployment_rate'].values[0]
    all_ages_unemp_rate = all_ages_row['Unemployment_rate'].values[0]
    
    if recent_grads_unemp_rate < all_ages_unemp_rate:
        recent_grads_lower_unemp_count += 1
    elif all_ages_unemp_rate < recent_grads_unemp_rate:
        all_ages_lower_unemp_count += 1