In [8]:
import pandas
sp500 = pandas.read_csv("sp500.csv")
sp500.head()

       date  value
0  1/3/1950  16.66
1  1/4/1950  16.85
2  1/5/1950  16.93
3  1/6/1950  16.98
4  1/9/1950  17.08

In [9]:
sp500.columns

Index([u'date', u'value'], dtype='object')

In [10]:
#sp500 = sp500[sp500["value"] != "."]

In [11]:
# This prints the last 10 rows -- note where the dataset ends.
print(sp500.tail(10))

next_day = sp500["value"].iloc[1:]

#since the row row needs to be dropped- won't have a next day
sp500 = sp500.iloc[:-1,:]
sp500["next_day"] = next_day.values

            date        value
16724  6/21/2016  2088.899902
16725  6/22/2016  2085.449951
16726  6/23/2016  2113.320068
16727  6/24/2016  2037.300049
16728  6/27/2016  2000.540039
16729  6/28/2016  2036.089966
16730  6/29/2016  2070.770020
16731  6/30/2016  2098.860107
16732   7/1/2016  2102.949951
16733   7/5/2016  2088.550049